@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    font-family: 'Inter', sans-serif; 
    scroll-behavior: smooth; 
}

.prose pre { 
    position: relative; 
}

::-webkit-scrollbar { 
    width: 8px; 
}

::-webkit-scrollbar-track { 
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb { 
    background: #888; 
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover { 
    background: #555; 
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

/* Custom Swiper Pagination Styling */
.swiper-custom-container .swiper-pagination-bullet { 
    background-color: #fff !important; 
    opacity: 0.7 !important; 
}
.swiper-custom-container .swiper-pagination-bullet-active { 
    background-color: #3b82f6 !important; 
    opacity: 1 !important; 
}

.mySwiper {
    width: 100%;
    height: 100%;
}